demo-XML/src/main/resources/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="note">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="address"/>
                <xs:element ref="age"/>
                <xs:element ref="gender"/>
                <xs:element ref="name"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="address" type="xs:string"/>
    <xs:element name="age" type="xs:integer"/>
    <xs:element name="gender" type="xs:string"/>
    <xs:element name="name" type="xs:string"/>
</xs:schema>
